.cart-result-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-result-decorate-line {
  width: 1059px;
  max-width: 100%;
  height: 0px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.cart-result-block {
  width: 763px;
  max-width: 97%;
  height: 105px;
  border-radius: 10px;
  background-color: #504B4A;
  margin: 35px 0px 20px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.cart-result-block-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cart-result-block-title {
  margin: 0px;
  color: #A6A7AB;
  font-size: 18px;
  font-weight: 500;
}

.cart-result-block-title > span {
  color: #FFFFFF;
  font-size: 25px;
  font-weight: 700;
  line-height: 0px;
}

.cart-result-block-par {
  margin: 0px;
  color: #A6A7AB;
  font-size: 12px;
  font-weight: 500;
}

.cart-result-block-par > span {
  color: #72A479;
}

.cart-result-block-btn {
  width: 209px;
  height: 51px;
  background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
  border-radius: 10px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
  align-self: center;
  display: flex;
  justify-content: center;
}

.cart-result-block-btn:hover,
.cart-result-empty-link:hover {
  box-shadow: 0px 0px 10px rgba(114, 163, 121, 0.7);
}

.cart-result-block-btn:active,
.cart-result-empty-link:active {
  font-weight: 500;
}

.cart-result-block-response {
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 18px;
  width: 320px;
  background-color: #504B4A;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  max-width: 97%;
}

.cart-result-empty {
  width: 310px;
  height: 325px;
  border-radius: 10px;
  background-color: #504B4A;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  max-width: 90%;
  margin-top: 30px;
}

.cart-result-empty-img-block {
  background-image: url(../../public/images/empty-cart.png);
  width: 151px;
  height: 177px;
}

.cart-result-empty-title {
  margin: 0px;
  font-size: 28px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.cart-result-empty-link {
  width: 188px;
  height: 45px;
  background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(max-width: 540px) {
  .cart-result-block {
    flex-direction: column;
    padding: 10px;
    width: 320px;
  }

  .cart-result-block-info {
    align-items: center;
    height: 42px;
  }

  .cart-result-block-btn {
    height: 35px;
  }
}

@media(max-width: 380px) {
  .cart-title-info {
    display: block;
    margin: 5px 30px;
  }
}