.pages-links-block {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.page-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 40px;
  margin: 0px 10px;
  font-size: 16px;
  color: #CFCFCF;
  position: relative;
  top: 2px;
}

.page-link_activ {
  border-bottom: solid 3px #618967;
  color: #FFFFFF;
  font-weight: 500;
}

.page-link:hover {
  color: #FFFFFF;
}

@media(max-width: 650px) {
  .pages-links-block {
    flex-direction: column;
  }

  .page-link {
    height: 30px;
    margin: 0px 75px;
    width: 150px;
  }

  .page-link:last-child {
    margin-bottom: 10px;
  }
}