.item-card {
  width: 320px;
  position: relative;
  margin: 10px;
}

.item-img-block {
  background-color: white;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 250px;
}

.item-img {
  height: 250px;
}

.item-raiting-block {
  background-image: url(../../public/images/icons-sprite.png);
  width: 46px;
  height: 46px;
  position: absolute;
  top: 5px;
  left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 15px;
  background-position-y: -2px;
  background-position-x: -1px;
  color: rgba(0, 0, 0, 0.6);
}

.item-info-block {
  position: absolute;
  top: 163px;
  left: 15px;
}

.item-info-str {
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
  margin: 0px 0px 10px;
}

.item-description-block {
  background-color: #504B4A;
  padding: 10px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.item-description-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  text-align: center;
  margin: 0px;
}

.item-description-par {
  color: #CFCFCF;
  font-size: 14px;
}

.item-description-icon {
  display: inline-block;
  margin: 0px 5px;
  width: 20px;
  height: 20px;
  background-image: url(../../public/images/icons-sprite.png);
  background-position-y: -2px;
  background-position-x: -50px;
}

.item-description-par:nth-child(3) .item-description-icon {
  background-position-x: -50px;
  background-position-y: -24px;
}

.item-controls-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

.item-controls-par {
  font-weight: 600;
  font-size: 20px;
  color: #FFFFFF;
  margin: 0px;
}

.item-controls-btn {
  background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
  border-radius: 10px;
  width: 137px;
  height: 44px;
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-controls-icon {
  width: 24px;
  height: 24px;
  background-image: url(../../public/images/icons-sprite.png);
  background-position-x: 46px;
  margin-left: 10px;
}

.item-controls-btn:hover {
  box-shadow: 0px 0px 10px rgba(114, 163, 121, 0.7);
}

.item-controls-btn:active {
  font-size: 13.5px;
}

.item-sticker {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #79B382;
  border-radius: 50%;
  top: -10px;
  right: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
}

.item-sticker_hidden {
  display: none;
}

.item-controls-increment-btn {
  background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
  border-radius: 10px;
  height: 44px;
  width: 62px;
  border: none;
  color: #ffffff;
  font-size: 38px;
  cursor: pointer;
  font-family: 'Gilroy';
  line-height: 0px;
}

.item-controls-increment-btn:hover {
  box-shadow: 0px 0px 10px rgba(114, 163, 121, 0.7);
}

.item-controls-increment-btn:active {
  font-size: 29px;
}

@media(max-width: 360px) {
  .item-sticker {
    top: -7px;
    right: -7px;
  }
}