header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #504B4A;
}

.header-title {
  font-weight: 700;
  font-size: 25px;
  line-height: 25px;
  letter-spacing: 0.15em;
  color: #FFFFFF;
  margin: 25px 0px 25px 98px;
  text-transform: uppercase;
  text-decoration: none;
}

.header-contacts-block {
  width: 190px;
}

.header-contacts-icon-block {
  width: 32px;
  height: 32px;
  background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
  border-radius: 50%;
  float: left;
  margin: 0px 10px;
}

.header-contacts-icon {
  position: relative;
  top: 7px;
  left: 7px;
}

.header-contacts-title {
  font-weight: 400;
  font-size: 12px;
  color: #CFCFCF;
  margin: 0px;
}

.header-contacts-phone {
  margin: 0px;
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
}

.header-cart-link {
  text-decoration: none;
}

.header-cart-block {
  width: 149px;
  height: 49px;
  background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 70px 0px 0px;
}

.header-cart-block:hover {
  box-shadow: 0px 0px 10px rgba(114, 163, 121, 0.7);
}

.header-cart-text {
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
  margin: 0px 15px 0px 0px;
  position: relative;
  top: -2px;
}

.header-cart-line {
  width: 0px;
  height: 38px;
  border-left: 1px solid #CFCFCF;
}

.header-cart-icon {
  margin: 0px 0px 0px 12px;
  position: relative;
}

.header-cart-sticker {
  border-radius: 50%;
  background-color: #d50000;
  width: 18px;
  height: 18px;
  font-size: 12px;
  color: white;
  position: absolute;
  top: -7px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: -9px;
  font-weight: 700;
}

.header-cart-sticker_hidden {
  display: none;
}

@media (max-width: 900px) {
  header {
    justify-content: space-evenly;
  }

  .header-title {
    margin-left: 0px;
  }

  .header-cart-block {
    margin-right: 0px;
  }
}

@media (max-width: 520px) {
  .header-contacts-block {
    display: none;
  }
}

@media (max-width: 360px) {
  .header-cart-block {
    width: 62px;
    height: 56px;
    flex-direction: column-reverse;
  }

  .header-cart-text {
    text-transform: lowercase;
    font-size: 12px;
    top: 1px;
    margin: 0px;
  }

  .header-cart-line {
    height: 0px;
    border-top: 1px solid #CFCFCF;
    width: 48px;
    position: relative;
    top: 2px;
  }

  .header-cart-icon {
    margin: 0px;
    position: relative;
    top: 4px;
  }
}