.cart-header {
  margin: 15px 0px 0px 200px;
}

.cart-link {
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}

.cart-decoration-block {
  width: 4px;
  height: 33px;
  background: #618967;
  margin-right: 28px;
  display: inline-block;
  position: relative;
  top: 5px;
  left: 5px;
}

.cart-title {
  text-transform: uppercase;
  color: #FFFFFF;
  display: inline-block;
  margin: 0px;
}

.cart-title-info {
  font-weight: 500;
  font-size: 15px;
  color: #72A479;
  margin-left: 15px;
}

.cart-items-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 0px;
}

@media(max-width: 1000px) {
  .cart-header {
    margin: 15px 0px 0px 10px;
  }
}