.paginator-block {
  margin: 10px 0px 20px 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.paginator-item {
  margin: 0px;
  padding: 0px;
}

.paginator-link {
  color: white;
  text-decoration: none;
  width: 30px;
  height: 30px;
  background-color: #504B4A;
  margin: 3px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginator-link_active {
  border: 1px solid #618967;
  color: #618967;
}

.paginator-link:hover {
  box-shadow: 0px 0px 10px rgba(114, 163, 121, 0.7);
}