.banner-block {
  background-image: url(../../public/images/wine-cover.jpg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

.banner-shadow-block {
  height: 400px;
  background: linear-gradient(90deg, #211F20 30%, rgba(68, 64, 63, 0) 70%);
}

.banner-text-wrap {
  width: 600px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner-title-text {
  position: relative;
  font-family: 'Zing Rust Demo Base';
  font-size: 56px;
  line-height: 109.2%;
  text-align: center;
  color: #FFFFFF;
  transform: rotate(-8.37deg);
  width: 515px;
}

.banner-title-shadow-text {
  position: absolute;
  left: -0.97%;
  top: 4.08%;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.2px #ffffff;
}

.banner-slogan-shadow-block {
  width: 265px;
  height: 36px;
  border: 1px solid;
  transform: rotate(-8.02deg) skew(-30deg);
  position: absolute;
  top: 346px;
  left: 164px;
  border-image: linear-gradient(16deg, transparent 10.11%, white 94%);
  border-image-slice: 1%;
}

.banner-slogan-block {
  background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
  transform: rotate(-8.02deg) skew(-30deg);
  width: 250px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.banner-slogan-text {
  font-family: 'Zing Rust Demo Base';
  font-size: 23px;
  color: #FFFFFF;
  display: block;
  transform: skew(30deg) rotate(0deg);
}

@media (max-width: 900px) {
  .banner-shadow-block {
    background: linear-gradient(90deg, #211F20 18%, rgba(68, 64, 63, 0) 70%);
  }

  .banner-text-wrap {
    width: 400px;
  }

  .banner-title-text {
    font-size: 40px;
  }

  .banner-title-shadow-text {
    left: 69px;
  }

  .banner-slogan-shadow-block {
    height: 30px;
    top: 327px;
    left: 90px;
    width: 214px;
  }

  .banner-slogan-block {
    width: 200px;
    height: 30px;
    margin-top: 15px;
  }

  .banner-slogan-text {
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  .banner-shadow-block {
    height: 244px;
    background: linear-gradient(90deg, #211F20 0%, rgba(68, 64, 63, 0) 70%);
  }

  .banner-text-wrap {
    width: 320px;
    height: 244px;
  }

  .banner-title-text {
    font-size: 28px;
    width: 400px;
  }

  .banner-title-shadow-text {
    left: -2px;
    width: 400px;
  }

  .banner-slogan-shadow-block {
    left: 77px;
    width: 160px;
    height: 25px;
    top: 236px;
  }

  .banner-slogan-block {
    width: 150px;
    height: 25px;
    margin-top: 10px;
  }

  .banner-slogan-text {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .banner-shadow-block {
    background: none;
  }

  .banner-text-wrap {
    width: 300px;
  }

  .banner-title-text {
    width: 290px;
  }

  .banner-title-shadow-text {
    width: 290px;
    left: -3px;
  }

  .banner-slogan-shadow-block {
    left: 68px;
    top: 234px;
  }
}