.filter-and-sort-block {
  display: flex;
  justify-content: space-between;
  margin: 15px 50px 5px 65px;
}

.sort-select-wrap,
.filter-select-wrap,
.show-pages-wrap {
  position: relative;
}

.sort-select-wrap::before,
.filter-select-wrap::before,
.show-pages-wrap::before {
  background-image: url(../../public/images/icons-sprite.png);
  content: "";
  width: 23px;
  height: 23px;
  position: absolute;
  left: -28px;
  background-position-x: -30px;
  background-position-y: -51px;
}

.filter-select-wrap::before {
  width: 20px;
  height: 20px;
  background-position-x: -4px;
  top: 2px;
  left: -24px;
}

.show-pages-wrap::before {
  background-position-x: -58px;
  background-position-y: -52px;
}

select {
  background-color: #504B4A;
  border-radius: 5px;
  color: #ffffff;
  border: solid 1px #618967;
  padding: 3px;
  font-size: 13px;
  font-family: 'Gilroy';
  width: 175px;
  outline: none;
}

select:hover {
  box-shadow: 0px 0px 10px rgba(114, 163, 121, 0.7);
}

option {
  color: #CFCFCF;
}

@media(max-width: 740px) {
  .filter-and-sort-block {
    margin: 12px 10px 7px 32px;
  }
}

@media(max-width: 660px) {
  .filter-and-sort-block {
    flex-direction: column;
    align-items: center;
    margin: 12px 0px 7px 22px;
  }

  .filter-select-wrap, 
  .sort-select-wrap {
    margin: 0px 0px 8px 0px;
  }

  .filter-select-wrap::before {
    left: -30px;
  }

  .show-pages-wrap::before {
    left: -30px;
  }
}